# Ignore any .vscode folder
*.vscode/

# Ignore any files in any build folder
*build/

# Ignore .exe (unit tests)
*.exe
**/.DS_Store

#ignore platformio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
logs