# Ignore any .vscode folder
*.vscode/

# Ignore any files in any build folder
*build/

# Ignore any generated test files from running locally
test/CMakeCache.txt
test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile
test/cmake_install.cmake
test/gtest/
test/tests[1]_include.cmake

# Ignore .exe (unit tests)
*.exe
**/.DS_Store

#ignore platformio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
logs

# Ignore upload command (removes the need to re-compile after Verify when running Download, in e.g. VS Code)
upload.bat
compile.bat

# Ignore binary files
*.bin

# Ignore secret file
USER_SECRETS.h
