.cell-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.cell-grid__cell {
  flex: 1 1 auto;
  border: 1px solid #555;
  padding: 0.3rem 0.6rem;
}

.cell-grid__cell[data-sel] {
  border-color: #ffffff;
}

.cell-grid__cell[data-min],
.cell-bars__bar[data-min] {
  box-shadow: 0 0 8px inset #2e0dc0;
}

.cell-grid__cell[data-max],
.cell-bars__bar[data-max] {
  box-shadow: 0 0 8px inset #bc6100;
}

.cell-bars {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.cell-bars__bar {
  border: 1px solid #999999;
  background: rgb(90, 90, 90);
  flex: 1 1 auto;
}

.cell-bars__bar[data-sel] {
  border-color: #ffffff;
}
