form[data-initialized="0"] {
  visibility: hidden;
}

form .actions {
    text-align: right;
}

.form__with-aside {
    display: flex;
    gap: 1rem;
}

.form__main {
  flex: 0 1 40rem;
}

.form__aside > div {
    position: sticky;
    top: 1rem;
}

.form-row {
  text-align: left;
  margin: 0 0 0.8rem;
  /* padding to make room for outlines in overflow:hidden containers */
  padding: 0 1px;
}

[data-ind] {
  padding-left: 1.25rem;
}

.form-row label {
  position: absolute;
  font-size: 0.82rem;
  margin: 0 0 0.5rem;
  color: #999;
  padding: 0.3rem 0 0 11px;
  pointer-events: none;
}

.form-row label:has(> input) {
  display: flex;
  position: static;
  pointer-events: all;
  cursor: pointer;
  user-select: none;
  font-size: 1.1rem;
  color: #ededed;
  padding: 0.2rem 0;
  /* border: 1px solid #666666;
  background-color: #212121; */
}

.form-row span {
  display: block;
  font-size: 0.83rem;
  color: #aaaaaa;
  text-align: right;
  margin: -23px 12px 15px 0;
}

.form-row input:has(+ span) {
  padding-bottom: 22px;
}

.form-row input:hover, .form-row select:hover {
  border-color: #888888;
}

.form-row input:focus, .form-row select:focus {
  border-color: #3cddb2;
  box-shadow: 0 0 0 1px #3cddb2;
  outline-style: none;
}

@media (max-width: 768px) {
    .form__with-aside {
        flex-direction: column;
    }
    .form__aside > div {
        position: static;
        top: auto;
    }
}