/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
} */


.cell-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.cell-grid__cell {
  border: 1px solid #555;
  padding: 0.5rem 1rem;
}

.cell-grid__cell[data-sel] {
  border-color: #ffffff;
}

.cell-grid__cell[data-min],
.cell-bars__bar[data-min] {
  box-shadow: 0 0 8px inset #2e0dc0;
}

.cell-grid__cell[data-max],
.cell-bars__bar[data-max] {
  box-shadow: 0 0 8px inset rgb(117, 41, 3);
}

.cell-bars {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.cell-bars__bar {
  border: 1px solid #999999;
  background: rgb(90, 90, 90);
  flex: 1 1 auto;
}

.cell-bars__bar[data-sel] {
  border-color: #ffffff;
}

/* .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.menu a {
  white-space: nowrap;
}

.menu a[data-cur] {
  background: #08544f;
}

.panel {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  margin: 0 0 15px;
}

.panel[data-status="OK"] { box-shadow: 0 0 10px #4caf50; }
.panel[data-status="WARNING"] { box-shadow: 0 0 10px #ff9800; }
.panel[data-status="ERROR"] { box-shadow: 0 0 10px #f44336; } */

form .panel {
    max-width: 40rem;
}
form[data-initialized="0"] {
  visibility: hidden;
}

.form-row {
  text-align: left;
  margin: 0 0 0.5rem;
}

.form-row label {
  position: absolute;
  font-size: 0.83rem;
  margin: 0 0 0.5rem;
  color: #aaaaaa;
  padding: 0.3rem 0 0 11px;
  pointer-events: none;
}
.form-row select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ebebeb' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") right 10px center no-repeat;
  background-size: 12px;
}
.form-row input, .form-row select {
  display: block;
  width: 100%;
  padding: 1.4rem 10px 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #666666;
  background-color: #212121;
  color: #ededed;
  appearance: none;
}
.form-row input:invalid, .form-row select:invalid {
  border-color: #ff3333;
}
.form-row input:focus:invalid, .form-row select:focus:invalid {
  box-shadow: 0 0 0 1px #ff9999;
  border-color: #ff9999;
  outline-style: none;  
}

.form-row label:has(> input) {
  display: block;
  position: static;
  pointer-events: all;
  user-select: none;
  font-size: 1.1rem;
  color: #ededed;
  padding: 0.6rem 0.9rem;
  border: 1px solid #666666;
  background-color: #212121;
}
.form-row input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
  appearance: auto;
  display: inline-block;
  vertical-align: top;
  margin: 0.1rem 0.8rem 0 0;
}


/* button, a.button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  cursor: pointer;
  background: #555555;
  font-size: 1.1em;
  font-weight: 400;
  color: #ededed;
  transition: background-color 0.2s ease;
}

button:hover {
  background: #777777;
} */