html, body, * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #101010;
    color: #eeeeee;
}

.columns {
    display: flex;
}

.topbar {
    display: flex;
    background: #2a2a2a;
    padding: 1rem 32px;
}

#tray {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.topbar .battery-level {
    font-weight: 600;
    --perc: 83%;
    background: linear-gradient(0deg, #1db706 var(--perc), #444444 var(--perc));
    padding: 0.5rem;
    color: #ffffff;
    text-shadow: 0 0 4px #000000aa;
    text-align: center;
    min-width: 65px;
}

.topbar .battery-level span {
    position: relative;
    top: -1px;
}

.topbar .status {
    border-left: 6px solid #056105;
    font-weight: 600;
    background: #444444;
    padding: 0.5rem 0.8rem 0.5rem 0.6rem;
    border-radius: 0 8px 8px 0;
    margin-left: 1rem;
}

.topbar h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.menu {
    min-width: 12rem;
    top: 0;
    background: linear-gradient(180deg, #2a2a2a, #111111) top no-repeat;
    background-size: auto 700px;
    padding: 1.25rem 12px;
    gap: 0.5rem;
}
.menu > div {
    min-height: calc(100vh - 110px);
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.menu a {
    display: inline-block;
    padding: 0.6rem 17px;
    border-radius: 0 8px 8px 0;
    color: #eeeeee;
    text-decoration: none;
    border-left: 3px solid transparent;
}

.menu a .badge {
    background: #b50909;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0rem 0.4rem 0.1rem;
    border-radius: 12px;
    margin-left: 0.3rem;
}

.menu a[data-cur] {
    color: #ffffff;
    background: #404040;
    border-color: #3cddb2;
}

button,
a.button {
    cursor: pointer;
    background: #3cddb2;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color: #000000;
    font-size: 1rem;
    padding: 0.6rem 17px;
    font-weight: 600; 
    text-align: center;
}

button:hover,
a.button:hover {
    opacity: 0.9;
}

.content {
    flex: 1 1 auto;
    padding: 1.5rem 3rem;
}

.content h2 {
    color: #3cddb2;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.panel {
    background: #252525;
    /* border: 1px solid #303030; */
    border-radius: 5px;
    padding: 1.25rem 1.5rem 1.4rem;
    margin: 0 0 1.2rem 0;
}

.panel h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.panel h3:last-child {
    margin-bottom: 0;
}

.panel h3 span {
    font-weight: 400;
    font-size: 1rem;
    color: #999;
}

.panel h3[data-status]:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #1db706;
    box-shadow: 0 0 4px #1db706aa;
    border-radius: 999px;
    margin-right: 0.6rem;
}

.panel h3[data-status="warn"]:before {
    background: #e5a700;
    box-shadow: 0 0 4px #e5a700aa;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    row-gap: 1.25rem;
}

.stat {
    font-size: 1.8rem;
    line-height: 0.7em;
    font-weight: 600;
}

.stat__double {
    font-size: 1.1rem;
    line-height: 0.9em;
}

.stat__small {
    font-size: 1.4rem;
    line-height: 1em;
}

.stat span {
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1em;
    margin: 0 0 0.5rem;
    color: #888;
}

.stat em, .stat u {
    display: inline;
    font-style: normal;
    text-decoration: none;
    font-size: 0.7em;
    color: #999;
    padding-left: 0.1rem;
}
.stat em {
    padding-left: 0.4rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
    font-weight: 600;
    padding: 0.8rem 0.5rem 0.8rem 0;
    border-bottom: 1px solid #333333;
    color: #3cddb2;
}

table td {
    padding: 0.7rem 0.5rem 0.7rem 0;
    border-bottom: 1px solid #333333;
    vertical-align: top;
    font-size: 1rem;
    color: #ddd;
}

.log {
    background: #000000;
}
.log div {
    white-space: pre-wrap;
    font: 0.9rem monospace;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
  .menu > div {
    min-height: auto;
  }
}
