name: ⚙️ Run Unit Tests


on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure and build with CMake
      run: |
        cp Software/USER_SECRETS.TEMPLATE.h Software/USER_SECRETS.h
        cd test
        mkdir build
        cd build
        cmake ..
        cmake --build .

    - name: Run unit tests
      run: |
        ctest
